<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <!-- Dashboard Tab All-->
    <ion-tab title="Today" ui-sref="dashboard.today"> <!-- href="#/tab/dash/all" -->
        <ion-nav-view name="dashboard-today"></ion-nav-view>
    </ion-tab>

    <!-- Dashboard Tab New-->
    <ion-tab title="New" ui-sref="dashboard.new">
        <ion-nav-view name="dashboard-new"></ion-nav-view>
    </ion-tab>

    <!-- Dashboard Tab Cancelled-->
    <ion-tab title="Cancelled" ui-sref="dashboard.cancelled">
        <ion-nav-view name="dashboard-cancelled"></ion-nav-view>
    </ion-tab>

    <!-- Dashboard Tab Rescheduled-->
    <ion-tab title="Rescheduled" ui-sref="dashboard.rescheduled">
        <ion-nav-view name="dashboard-rescheduled"></ion-nav-view>
    </ion-tab>

</ion-tabs>



