<ion-view  view-title="My Services" ng-controller="ServicesController">

    <ion-nav-buttons side="right">
        <!--<button class="button" ng-click="popover2.show($event)"><span class="icon ion-android-more-vertical"></span></button>-->
        <a class="button icon ion-plus" href="#/servicenew"></a>
        <!--<button class="button  button-clear button-positive">New</button>-->
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="getAllServicesByUser('')">
        </ion-refresher>

        <div class="list">
            <ion-item ng-repeat="service in allServices "
                      ui-sref="showservice({serviceId: service.id})"> {{service.name}}
            </ion-item>
        </div>

    </ion-content>


</ion-view>