<ion-view view-title="Clients" ng-controller="ClientsController">
    <ion-nav-buttons side="right">
        <!--<button class="button icon ion-plus" ui-sref="client.new"><span class="icon ion-more"></span></button>-->
        <a class="button icon ion-plus" href="#/clientnew"></a>
        <!--<button class="button  button-clear button-positive">New</button>-->
    </ion-nav-buttons>
    <!--
    <ion-content>
        <div class="list">
            <ion-item ng-repeat="item in cancelledApps">

            <div class="item item-divider">
                A
            </div>
            <a class="item" href="#">
                Angela Ling
            </a>

            <div class="item item-divider">
                K
            </div>
            <a class="item" href="#">
                Kevin Chen
            </a>

        </div>

    </ion-content>
    -->
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="getAllClients('')">
        </ion-refresher>

        <div class="list">
            <!--
            <div ng-show="client.id==-1">
                <ion-item ng-show="client.id==-1" class="item item-divider">{{client.name}}</ion-item>
            </div>
            <a ng-show="client.id != -1" class="item"  href="#">
                {{client.name}}
            </a>
            -->
            <ion-item  ng-repeat="client in allClients " class="item {{client.class}}" ng-click="editClient(client.id)">{{client.name}}</ion-item>
        </div>
    </ion-content>

    <div class="bar bar-footer item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button">
            Search
        </button>
    </div>
</ion-view>

